# .gitignore

# 忽略 ngrok.exe 檔案
ngrok.exe

# 忽略 config 目錄下的 database.yml 檔案
/linebot/.vs/*
/linebot/linebot/obj/*
/linebot/linebot/bin/*
# 忽略所有 db 目錄下附檔名是 .sqlite3 的檔案
#/db/*.sqlite3

# 忽略所有附檔名是 .tmp 的檔案
#*.tmp

# 當然你要忽略自己也可以，只是通常不會這麼做
# .gitignore