<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <style type="text/css">
        @import "../static/JSL/style.css";
    </style>
    <title>答案</title>
</head>
<body>
    <h1>Answer for this question</h1>
        <p contenteditable="true"><%=data[0]['include']%></p><br>
        <img src="<%=data[0]['include']%>" alt="本題題目無圖片" />
        <hr />
        <h3>答案</h3>
            <p contenteditable="true"><%=data[0]['str']%></p>
            <br>
            <a href="<%=data[0]['path']%>">點擊可以手動下載答案檔</a>
            <iframe src="<%=data[0]['path']%>" style="width:100%; height:1000px"></iframe>
</body>
</html>