<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="../static/JSL/jquery.js"></script>
</head>
<body>
    <img alt="qrCode" src="" >
    <p><%=path%></p>
    <form action="/broadcast_img" method="post">
        <input  id="path" type="text" name="path" value="" readonly/>
        <input type="submit" value="廣播此圖片" />
    </form>
    <script>
        $(document).ready(function () {
            $("#path").val($("p").html());
            $("img").attr("src", $("p").html());
            $("p").hide();
        });
    </script>
</body>
</html>